.box{
    border: 2px solid #fff;
    background-color: #fff;
    position: relative;
    text-align: center;
    flex: 1;
}
#container{
    display: flex;
    height: 50px;
    flex-direction: initial;
}
#link1, #link2, #link4, #link5{
    flex: 1;
}
#link3{
    flex: 2;
}