html{
    background-color: #f0ffff;
    font-family: 'Handlee', cursive;
    color: #99c;
}
.box, .menu, .logo{
    border: 2px solid #ccf;
    background-color: #ffc;
    text-align: center;
    flex: 1;
    border-radius: 30px;
}
#container{
    display: flex;
    height: 50px;
    flex-direction: initial;
}
#link1, #link2, #link4, #link5{
    flex: 1;
}
#link3{
    flex: 2;
}
#link3 p{
    margin: 0;
}
.slider_container {
    position: relative;
}
.slider_container img {
    position: relative;
    width: 65%;
    height: 550px;
}
.slider_container .border_box {
    position: absolute;
    /* border: 3px solid #000; */
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 10px;
}
footer{
    text-align: center;
}
#content{
    border: none;
    background-color: #f0ffff;
    margin-bottom: -50px;
}
a{
    width: 10%;
    margin: auto 5%;
    text-decoration: none;
}
.para{
    font-size: 20px;
}
img{
    border: 2px solid #ccf;
    border-radius: 30px;
}
#push, footer{
    height: 50px;
}

footer p{
    margin: 0;
    padding-top: calc(50px - 1em);
}
